[run]
source = .
omit =
    tests/*
    conftest.py
    */site-packages/*
    art.py
    constants.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass
    except ImportError
show_missing = true
precision = 2
fail_under = 40

[html]
directory = htmlcov
